name: Upload Python Package

on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - run: uv sync --locked --all-extras --dev
      - run: uv build
      - uses: actions/upload-artifact@v4
        with:
          name: dist-${{ runner.os }}
          path: dist/

  publish:
    environment: production
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    needs:
      - build
    steps:
      - uses: actions/download-artifact@v5
        with:
          pattern: dist-*
          path: dist/
          merge-multiple: true
      - uses: pypa/gh-action-pypi-publish@v1.13.0
